<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844802106153-fpdi7d9u95v6kgaalmr2gdt919nf6uk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844802106153-fpdi7d9u95v6kgaalmr2gdt919nf6uk1</string>
	<key>API_KEY</key>
	<string>AIzaSyAI9b3CScteQlqjIPmxYtyeYz160NOpazU</string>
	<key>GCM_SENDER_ID</key>
	<string>844802106153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dailyaudiobible.dabapp</string>
	<key>PROJECT_ID</key>
	<string>daily-audio-bible-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-audio-bible-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844802106153:ios:00c245092ab73170</string>
	<key>DATABASE_URL</key>
	<string>https://daily-audio-bible-mobile-app.firebaseio.com</string>
</dict>
</plist>